<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title></title>
</head>
<body>
  <!-- <video src="http://localhost:8080/video.mp4"></video> -->
  Press button on controller to connect.
  <div id="axes" style="display: flex; flex-direction: column;"></div>
  <div id="buttons" style="display: flex; flex-direction: column;"></div>


  <script>
  var deadzone = 10;
  var RightJoystickX = 0;
  var RightJoystickY = 0;
  var LeftJoystickX = 0;
  var LeftJoystickY = 0;
  var RightBumper = false
  var ButtonA = false
  var ButtonB = false
  var Back = false
  var Start = false
  var UpDPad = false
  var DownDPad = false
  var LeftDPad = false
  var RightDPad = false
  window.addEventListener('gamepadconnected', (event) => {
    const update = () => {
      const output = document.getElementById('axes');
      output.innerHTML = ''; // clear the output

      for (const gamepad of navigator.getGamepads()) {
        if (!gamepad) continue;

        // Get Stick axes
        RightJoystickX = Math.round(gamepad.axes[2] * 100);
        RightJoystickY = -Math.round(gamepad.axes[3] * 100);
        LeftJoystickX = Math.round(gamepad.axes[0] * 100);
        LeftJoystickY = -Math.round(gamepad.axes[1] * 100);
        if (Math.abs(RightJoystickX) <= deadzone)
          RightJoystickX = 0;
        if (Math.abs(RightJoystickY) <= deadzone)
          RightJoystickY = 0;
        if (Math.abs(LeftJoystickX) <= deadzone)
          LeftJoystickX = 0;
        if (Math.abs(LeftJoystickY) <= deadzone)
          LeftJoystickY = 0;

        // Get Buttons state
        RightBumper = gamepad.buttons[5].pressed;
        Back = gamepad.buttons[8].pressed;
        Start = gamepad.buttons[9].pressed;
        UpDPad = gamepad.buttons[12].pressed;
        DownDPad = gamepad.buttons[13].pressed;
        LeftDPad = gamepad.buttons[14].pressed;
        RightDPad = gamepad.buttons[15].pressed;
        ButtonA = gamepad.buttons[0].pressed;
        ButtonB = gamepad.buttons[1].pressed;

        // Visualize Axes and Sticks
        for (const [index, axis] of gamepad.axes.entries()) {
          output.insertAdjacentHTML('beforeend',
            `<label>${gamepad.index}, ${index}
               <progress value=${axis * 0.5 + 0.5}></progress>
             </label>`);
        }
        for (const [index, button] of gamepad.buttons.entries()) {
          output.insertAdjacentHTML('beforeend',
            `<label>${gamepad.index}, ${index}
               <progress value=${button.value}></progress>
               ${button.touched ? 'touched' : ''}
               ${button.pressed ? 'pressed' : ''}
             </label>`);
        }

      }
      requestAnimationFrame(update);
    };
    update();
  });

  window.addEventListener('gamepaddisconnected', (event) => {
    console.log('connected:', event.gamepad.connected);
  });
  function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
      currentDate = Date.now();
    } while (currentDate - date < milliseconds);
  }

  function sendController() {
    if (RightBumper === true) {
      if (Back === true) {
        $.get( "/land");
        sleep(400);
      } else if (Start === true) {
        $.get( "/takeoff");
        sleep(400);
      } else if (UpDPad === true) {
        $.get( "/set_gimbalup");
        sleep(200);
      } else if (DownDPad === true) {
        $.get( "/set_gimbaldown");
        sleep(200);
      } else if (LeftDPad === true) {
        $.get( "/set_zoomout");
        sleep(200);
      } else if (RightDPad === true) {
        $.get( "/set_zoomin");
        sleep(200);
      } else if (ButtonA === true) {
        $.get( "/start_piloting");
        sleep(200);
      } else if (ButtonB === true) {
        $.get( "/stop_piloting");
        sleep(200);
      } 
      else if (RightJoystickX + RightJoystickY + LeftJoystickX + LeftJoystickY != 0){
        console.log(RightJoystickX, RightJoystickY, LeftJoystickX, LeftJoystickY)
        $.get( "/set_pcmd/" + RightJoystickX + "/" + RightJoystickY + "/" + LeftJoystickX + "/" + LeftJoystickY + "/0.1");
      }
    }
  }
  setInterval(sendController, 60);

  </script>
</body>
</html>
